@import "../vars.scss";

.about {
    margin: 150px 0 100px 0;

}

.img {
    width: 100%;
    padding: 0;
}

.title {
    margin-bottom: 40px;
}

.text {
    margin-bottom: 30px;
}

.alert {
    margin-top: 40px;
}

.inner {
    padding: 30px 40px;
    position: relative;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: $black;

    background-color:  #FCDDD4;
    border-radius: $borderRadius;

    &:before {
        content: "g";
        display: block;
        height: 100%;
        width: 15px;

        color: $orange;
        background-color: $orange;

        border-radius:$borderRadius 0 0 $borderRadius;

        position: absolute;
        bottom: 0;
        left: 0;
    }
}