@import "../vars.scss";

.question {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.explanation {
    margin: 0;
}

.link {
    margin-left: 15px;

    font-size: 18px;
    font-weight: 600;
    color: $orange;
    text-decoration: underline;

    &:hover {
        color: darken($color:$orange, $amount: 20%);
    }
}