@import "../vars.scss";

.inner {
    display: flex;
    align-items: center;
    border: 0;
    background-color: $white;
    padding: 0;
}

.text {
    font-size: 18px;
    font-weight: 700;
    color: $orange;
    text-transform: uppercase;
    margin-right: 15px;
    padding-bottom: 1px;
    transition: color .7s;
    

    &:hover {
        text-decoration: none;
        color: darken($color:$orange, $amount: 20%);
      }
}

.icon {
    height: 15px;
    width: 10px;
}