@import "../vars.scss";

.orange {
  display: inline-block;
  width: 100%;
  height: 53px;
  margin: 15px 0 15px 0;
  padding: 4% 0;

  color: $white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: $orange;
  border-radius: $borderRadius;
  border: 0;

  transition: background-color 1s;

  &:hover {
    background-color: darken($color: $orange, $amount: 15%);
  }
}

.orange_light {
  display: inline-block;
  width: 100%;
  height: 53px;
  margin: 15px 0 15px 0;
  padding: 4% 0;

  color: $orange;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: $orangeLight;
  border-radius: $borderRadius;
  border: 0;

  transition: background-color 1s;

  &:hover {
    background-color: darken($color: $orangeLight, $amount: 10%);
  }
}
