@import "../vars.scss";

.event {

}

.icon {
    height: 25px;
    margin-right: 10px;
}

.info {
    margin-left: 28px;
}

.memberlist {
	background-color: #f0f3f6;
}

.h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.h3 {
  margin-top: 112px;
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
  z-index: 2;
}

.btn {
  margin-top: 20px;
  margin-bottom: 50px;

}