@import "../vars.scss";

.footer {
    display: flex;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:$black;

  }
  
  .copyright {
    color: $grey;
    font-size: 16px;
    margin-bottom: 0;
  }