@import "../vars.scss";

.wrap {
    display: flex;
    flex-direction: row;
}

.inner {
    width: 50%;
    padding: 70px;
}

.form {
    margin: 100px 0 180px 0;
    box-shadow: $shadow;
}

.img {
    width: 50%;

    background-image: url('../../img/login_form.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}