@import "../vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: $black;
}

.inner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}