@import "../vars.scss";

.wrap {
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 17px;
}

.input {
    display: block;
    width: 100%;
    padding: 0 20px 10px 58px;

    font-size: 16px;
	line-height: 1.7;

    border: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid $black;
    transition: all 0.4s;

    &:hover {
        border: 0;
        border-bottom: 1px solid $black;
      }
    
    &:focus {
        outline: none;
        border-bottom: 1px solid $orange;
    }
}

input::-webkit-input-placeholder {color:$black}
input::-moz-placeholder          {color:$black}
input:-moz-placeholder           {color:$black}
input:-ms-input-placeholder      {color:$black}

:focus::-webkit-input-placeholder {color: $orange}
:focus::-moz-placeholder          {color: $orange}
:focus:-moz-placeholder           {color: $orange}
:focus:-ms-input-placeholder      {color: $orange}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;} 

.label {
    width: 20x;
    height: 20px;
    margin-bottom: 0;

    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;

}

.icon {
    width: 20px;
}