@import "../vars.scss";

.intro {
    display: flex;
    align-items: flex-end;
    background-image: url('../../img/intro_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.form {
    width: 472px;
    position: absolute;
    bottom: -70px;
    right: 0;
    box-shadow: $shadow;
}

.title{
    margin-bottom: 80px;
    font-size: 35px;
    line-height: 1.2;
}
