@import "../vars.scss";

.logo {
	font-size: 25px;
	font-weight: 700;
  	color: $white;
  	text-transform: uppercase;

  	&:hover {
    	text-decoration: none;
    	color: $white;
  	}
}
  
.prefix {
  	color: $orange;
}