@import "../vars.scss";

.member {
    background-color: white;
    margin-bottom: 15px;
    height: 60px;

  	border-radius: $borderRadius;
	border: 0;
	display: flex;
  	align-items: center;

	transition: transform 1s;

  	&:hover {
    	background-color: darken($color:$orangeLight, $amount: 5%);
  	}

	//box-shadow: $shadow;
}

.icon {
    width: 90%;
}

.mrow {
    display: flex;
  	align-items: center;
}

.name {
	color: $orange;
  	font-size: 18px;
  	font-weight: 700;
}

.image {
	width: 50%;
}