@import "../vars.scss";

.profile {
  margin: 55px 0 70px 0;
}

.form {
  margin: 35px 0 45px 0;
}

.img {
  margin: 60px 0 40px 0;
}

.name {
  margin-top: 60px;

  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  color: $orange;
}

.password {
  margin-top: 160px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}