@import "../vars.scss";

.icon {
  height: 14px;
  padding-left: 25px;
  vertical-align: middle;
}

.calendar {
  margin-top: 25px;
}

.h3style {
  margin-top: 25px;
  margin-bottom: 20px;
}

.overflowstyle {
  max-height: 100px;
  width: 100%;
  margin-top: 25px;
}
