@import './vars.scss';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; 
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64;
  font-weight: 700;
  color: $white;
}

h2 {
  margin: 60px 0 50px 0;
  margin-top: 60px;
  font-family: 'Playfair Display', serif;
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: $black;
}

p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}

.icon {
height: 25px;
margin-right: 10px;
}

.userpic {
  margin: 60px 0 40px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/list-group';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
