$black: #121232;
$white: #ffffff;
$grey: #818192;
$orange: #ED4D47;
$orangeLight: #FACDC8;
$borderRadius: 4px;
$shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);

/* Bootstrap Form */
$input-focus-border-color: #ED4D47;
$input-btn-focus-color: rgba( #FACDC8, .25);
// $font-size-lg: 1rem;
// $spacer: 1rem ;